@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,600;1,600&family=PT+Sans:wght@700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

li, a{
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #edf0f1;
  text-decoration: none;
  scroll-behavior: smooth;
  cursor: pointer;
}


/*logo start*/
.brand h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #cbd2da;


position: relative;
right: 80px;
}

.brand h1 span {
  color: #11c28a;
}

/*logo end*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16%;
  background-color: #131419;
  position: sticky;
  top: 0;
  box-shadow: none;

  z-index: 100; /* Adjust the z-index as needed */
  
}


@keyframes swipeDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.swipe-down {
  animation: swipeDown 0.5s ease forwards;
}


.nav-list {
  list-style: none;
}

.nav-list li {
  display: inline-block;
  position: relative;
  font-weight: 300;
  
  text-transform: uppercase;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.nav-list li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav-list li a:hover {
    color: #11c28a;
  }

  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #c0a17200;
    border: 3px solid #f5f3f0;
    padding: 5px;
    padding-right: 20px;
    opacity: 0;
    visibility: hidden;
    border-color: #ecf1f0;
  
    
  }
  
  
  
    
    /* to show the submenu in services */
    .sub-item:hover .submenu {
      display: block; 
      opacity: 1; 
      visibility: visible;
      font-size: 16px;
      line-height: 24px;
      font-family: "Chakra Petch", sans-serif;
      font-weight: 200;

      background-color: aliceblue;
      transform: scale(1.00);
      cursor: pointer;
      border-color: aliceblue;
      box-shadow: 0 0 6px #10c98e;
    }
  /* to edit the icion beside the services*/
  .sub-item > a::after {
      content: "\f078"; 
      font-family: "Font Awesome 5 Free"; 
      font-weight: 600; 
      position: relative; 
      left: 5px; 
      top: -3px; 
      top: 80%;
     
      font-size: 15px; 
      color: #f5efef;
      
  }
  
  /* to style the padding box */
  .submenu li {
      list-style: none;
      margin: 0;
      padding: 5px 20px;
      display: flex;
      align-items: center;
      position: relative;
      
  }
  
  /* to edit the text inside the box*/
  .submenu li a {
      color: #0f0f0f;
      text-decoration: none;
      display: flex;
   
text-align: left;

      font-size: 19px; 
      font-weight: 600;
      position: relative;

      
  }
  
  .submenu li:hover a {
      color: #11c28a;
      font-size: 20px; 
      border-color: #11c28a;
  }

  
@keyframes swipeDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


@media (max-width: 768px){


  .brand{
   position: relative;
   top: -5px;
    margin-left: 30px;
  }
}